.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	padding: 0;
	list-style-type: none;
	padding-bottom: 20px;
	min-width: 440px;
}

.wrapper li {
	padding: 8px;
	padding-top: 16px;
	border: 1px solid hsl(240deg 30% 80%);
	border-radius: 8px;
	background: white;
	height: 150px;

	&:hover {
		border: 1px solid var(--purple-blue);
	}
}

.wrapper li:has(input:checked) {
	border: 1px solid var(--purple-blue);
	background-color: var(--magnolia);
}

.wrapper label {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.wrapper p {
	padding: 0;
	font-size: 0.8rem;

	&:last-of-type {
		color: var(--marine-blue);
	}
}

.planTitle {
	color: var(--marine-blue);
	font-weight: 500;
}

input[type="radio"] {
	appearance: none;
}

.icon {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

@media (max-width: 550px) {
	.wrapper {
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
		min-width: auto;
	}

	.wrapper li {
		height: auto;
		padding: 8px;
	}

	.wrapper label {
		flex-direction: row;
		justify-content: initial;
		align-items: center;
		gap: 12px;
	}
}
