.wrapper {
	width: 440px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 14px;
}

.wrapper h1 {
	color: var(--marine-blue);
	font-size: 2rem;
}

.wrapper p {
	color: var(--gray);
	padding-bottom: 24px;
}

.wrapper img {
	width: 60px;
}
