.wrapper {
	background-color: var(--white);
	width: 850px;
	height: 550px;
	border-radius: 16px;
	padding: 16px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 550px) {
	.wrapper {
		width: auto;
		height: auto;
		margin-left: 16px;
		margin-right: 16px;
		display: block;
	}
}
